@model LacunaGenetics.Models.UserModel
@{
    ViewData["Title"] = "Log in";
    Layout = "_Layout";
}
<h2 class="text-center">Log in</h2>
<div class="mt-5" style="min-width: 310px">
    <form asp-controller="User" asp-action="LoginUser" method="post">
        <div class="form-group">
            <label asp-for="Username" class="control-label"></label>
            <input asp-for="Username" class="form-control" placeholder="Enter your username" required/>
        </div>
        <div class="form-group mb-2">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" placeholder="●●●●●●●●" type="password" required/>
        </div>
        <div class="d-flex justify-content-between">
            <a asp-controller="Home" asp-action="Index" class="btn">Back</a>
            <button type="submit" value="LoginUser" class="btn">Log in</button>
        </div>         
    </form>
    <p class=" mt-2 text-center alert-dark" role="alert" ">@ViewBag.Message</p>

</div>

