@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="text-center">
    <p class="display-4 mt-5 mb-5">Welcome to Lacuna Genetics</p>
    <br />
    <p style="font-size:22px">Join us in our DNA research
        <br />
        Register and help us with data processing
    </p>
    <div class="container"><a asp-controller="User" asp-action="Register">Register</a> | <a asp-controller="User" asp-action="Login">Log in</a></div>
</div>
